@model Apricot.Database.TextChannel
@using Apricot.Database
@{
    var recipients = Model.Users;
    User recipient = recipients.Where(e => e.ID != ViewBag.ID).First();
    string border = recipient.Status == Apricot.Database.Status.Offline ? "border-secondary" : recipient.Status == Apricot.Database.Status.Online ? "border-success" : recipient.Status == Apricot.Database.Status.Away ? "border-warning" : "border-danger";
}

<div class="me-auto border border-4 @border mb-2 ms-auto d-flex align-items-center justify-content-center circle" id="contact" onclick="showChat(@Model.ID)">
    @if (recipient.Picture != null)
    {
        <img class="rounded-circle" src="~/Content/Pictures/Users/@recipient.Picture" height="53" width="53" style="--color_fill: #000" />
    }
</div>


<style>
    #contact {
        cursor: pointer;
        position: relative;
        top: 0;
        transition: top ease 0.2s;
    }
    #contact:hover {
            top: -2px;
    }
</style>

<script>
    function showChat(channelId) {
        var url = '@Url.Action("Chat", "Home")';
        $("#middle").html("");
        $('#middle').load(url, { userId: @ViewBag.ID, channelId: channelId });
    }
</script>