@model Apricot.Database.Space

<div class="d-flex align-items-center text-light mb-2 pt-2 pb-2" id="space" onclick="window.location.href = '@Url.Action("Space", "Home", new {spaceId = Model.ID})'" style="cursor: pointer">
    <div class="d-flex align-items-center justify-content-center bg-secondary circle me-auto ms-auto">
        @if (Model.ID == 1)
        {
            <div class="mt-4 bg-primary rounded pe-3 ps-3" style="font-size:16px; margin-top:2rem !important;">Live</div>
        }
    </div>
</div>

