@model Apricot.Database.Space

<div class="d-flex align-items-center text-light mb-2 pt-2" id="space" onclick="window.location.href = '@Url.Action("Space", "Home", new {spaceId = Model.ID})'" style="cursor: pointer">
    <div class="ms-4 me-2 mb-2 d-flex align-items-center justify-content-center bg-secondary circle">
        @if(Model.ID==1) {
            <div class="mt-4 bg-primary rounded pe-3 ps-3" style="position:absolute; font-size:16px; margin-top:2rem !important;">Live</div>
        }
    </div>
    <h6>@Model.Name</h6>
</div>

<style>
    #space:hover {
        background-color: var(--bs-dark);
    }
</style>