<!DOCTYPE>
<html lang="en">
@{
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Apricot</title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Content/lib/bootstrap-5.2.0-beta1/scss/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--optional head addon-->
    @RenderSection("head", required: false)
    <style>
        html {
            font-size: 20px;
        }

        body {
            background-color: var(--bs-dark);
        }

        .btn {
            border-radius: 50rem;
        }

        .fill {
            height: 87%;
        }

        .scroller {
            scrollbar-width: thin;
        }

    </style>


</head>

<body>
    @*<div id="load"> // loading animation div

    </div>*@




    <div id="contents">
        @RenderBody()
    </div>


    <script src="~/Content/lib/bootstrap-5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="~/Content/lib/just-validate-3.8.1/just-validate.production.min.js"></script>
    <script>
        $(document).ready(function () {
            feather.replace();
        });

                    //document.onreadystatechange = function () {
                    //    var state = document.readyState
                    //    if (state == 'interactive') {
                    //    } else if (state == 'complete') { // checks if the page state is loaded
                    //        document.getElementById('interactive');
                    //        //$('#load').hide(); // hides the loading animation
                    //        $("#contents").show(); // shows RenderBody()
                    //    }

                    //}
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>



@{
    string SetActiveNavbarIcon(Apricot.Models.CurrentPage? current, Apricot.Models.CurrentPage target)
    {
        if (current.HasValue && current == target)
        {
            return "active";
        }
        return string.Empty;
    }
}

