@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container w-50">
    <div class="text-light">
        <h1 class="text-center text-primary mb-4">About Apricot</h1>
        <h5 class="text-start">
            Apricot is founded due to the industry’s inability to provide a clear and sufficient application intended for distance education and productivity.
        </h5>
        <h5 class="text-start">
            Ever since the beginning of the COVID-19 pandemic, all the solutions which were provided such as Zoom were nothing but improvisations by large corporations to present a temporary medium for schools and businesses to coordinate until life goes back to normal. Three years later, and as trends suggest, work and education from home are still quite popular despite the pandemic having subsided. This is a clear indication that students, workers, and businesses sometimes prefer to conduct their affairs remotely.
        </h5>
        <h5 class="text-start">            Apricot presents a new platform with specialized tools intended mainly but not exclusively for the work/study from home environment. Apricot’s aim is to satisfy both its professional, and casual prospective user base.
</h5>

    </div>

</div>
