@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="container fill d-flex justify-content-center">
    <div class="text-center align-items-center text-light mb-auto mt-auto w-50">
        <div class="card card-body border-primary border rounded bg-black">
            <form>
                <h4 class="text-primary mb-4">Contact Support</h4>
                <div>
                    <input type="text" class="form-control bg-dark text-secondary border-light mb-3" placeholder="Subject" />

                </div>
                <div>
                    <input type="email" class="form-control bg-dark text-secondary border-light mb-3" placeholder="Email Address" />

                </div>
                <div>
                    <textarea rows="6" class="form-control bg-dark text-secondary border-light mb-4" placeholder="Description"></textarea>

                </div>
                <button class="d-block w-100 btn btn-primary text-light text-center">Submit</button>
            </form>
        </div>


    </div>
</div>
<div class="d-flex justify-content-center align-items-center text-secondary">
    <p>The Fourteen 2022 - All Rights Reserved</p>

</div>
